﻿.background {
    background-image: url('../images/back.jpg');
    background-size: cover;
}

.header {
    /*text-align:center;*/
    background-color: lightsteelblue;
    padding: 20px;
}

.navbody {
    background-color: steelblue;
}

.header-fixed {
    top: 0;
    z-index: 100;
  position: fixed;
    width: 100%;   
}

.header-squize{
    padding:0;
    transition-duration:1s;
}

.modalJumbo {
    background-image: url('../images/modal.jpg');
    background-size: cover;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 50%;
    margin: auto;
}

.footer {
    background-color:black;
    color: white;
    clear: both;
    padding: 1px;
    width: 100%;
    min-height:100px;
    bottom: 0;
    left: 0;
    margin-top:20px;
}

.logo {
    float: left;
    height: 70px;
}

.caret-up {
    width: 0;
    height: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.panelHeader {
    background-color: black !important;
    color: white !important;
}

.grow img {
    height: 120px;
    width: 120px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.grow img:hover {
        width: 130px;
}


/*body {
  background: #F1F3FA;
}*/

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 560px;
}


table td{
    border-top:none !important;
}

table th{
    border-top:none !important;
}

sup{
    color:red;
}

/*cart number circle*/
.circle {
    display: inline-block;
    height: 16px;
    width: 16px;
    line-height: 12px;

    -moz-border-radius: 15px; 
    border-radius: 15px; 

    background-color:white;
    color: red;
    text-align: center;
    font-size: 1em;
}


.txtQuantity{
    width:40px;
    margin-left:20px;
}

.spanUnitPrice{
    margin-left:20px;
}






